ble_ibeacon/build
ble_ibeacon/.vscode

gatt_server/build
gatt_server/.vscode

gatt_server_service_table/build
gatt_server_service_table/.vscode

bt_spp_acceptor/build
bt_spp_acceptor/.vscode

blink/build
blink/.vscode

ble_spp_client/build
ble_spp_client/.vscode

ble_spp_server/build
ble_spp_server/.vscode

matrix_keyboard/build
matrix_keyboard/.vscode

lvgl/build
lvgl/.vscode

bt_spp_vfs_acceptor/build
bt_spp_vfs_acceptor/.vscode

uart_async_rxtxtasks/build
uart_async_rxtxtasks/.vscode

real_time_stats/build
real_time_stats/.vscode

default_event_loop/build
default_event_loop/.vscode

user_event_loops/build
user_event_loops/.vscode

udp_client/build
udp_client/.vscode

smart_config/build
smart_config/.vscode

udp_server/build
udp_server/.vscode

sntp/build
sntp/.vscode

tcp/build
tcp/.vscode