ble_ibeacon/build
ble_ibeacon/.vscode

gatt_server/build
gatt_server/.vscode

gatt_server_service_table/build
gatt_server_service_table/.vscode

bt_spp_acceptor/build
bt_spp_acceptor/.vscode

blink/build
blink/.vscode

ble_spp_client/build
ble_spp_client/.vscode

ble_spp_server/build
ble_spp_server/.vscode

matrix_keyboard/build
matrix_keyboard/.vscode

lvgl/build
lvgl/.vscode

bt_spp_vfs_acceptor/build
bt_spp_vfs_acceptor/.vscode

uart_async_rxtxtasks/build
uart_async_rxtxtasks/.vscode


